@use "palette";
@use "padding-margin";

@mixin button-text() {
  font-weight: 700;
  font-size: 16px;
}

@mixin standard-button {
  font-size: 16px;
  font-weight: 700;
  border-radius: 7px;
  background-color: palette.$highlight-color-2;
  color: palette.$primary-color;
  text-decoration: none;
}
