@use "./modules/palette";
@use "./modules/mixin";
@use "./modules/flex";
@use "./modules/padding-margin";
@use "./modules/buttons";

/*----------------*/
//De-bug border colours
/*----------------*/
$red: solid 2px red;
$blue: solid 2px blue;
$green: solid 2px green;

/*----------------*/
//General Rules
/*----------------*/
* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 32px;
  @include padding-margin.padding-margin-settings;
  text-align: center;
}

p {
  font-size: 18px;
}

/*--------*/
//BEM rules
/*--------*/

.page-hero {
  @include mixin.combined-block-settings;
  &--heading {
    font-weight: 600;
    width: 326px;
    align-items: center;
    @include mixin.combined-block-settings;
  }
  &--hello-message {
    @include padding-margin.padding-margin-settings;
    font-size: 20px;
  }
}

.main-container {
  @include mixin.combined-block-settings;
  &__about-me {
    @include mixin.combined-block-settings;

    &--biography {
      line-height: 1.8;
    }
  }
  &__technical-skills {
    @include mixin.combined-block-settings;
    &--skills-text {
      @include padding-margin.padding-margin-settings;
      text-align: center;
      line-height: 1.6;
      font-size: 16px;
    }
    //ICON GALLERY RULES
    &--icon-gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .icon-box {
        margin: 16px 0;
        width: 67px;
        height: 112px;
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        justify-content: center;
        align-items: center;
        &--icon-label {
          text-align: center;
        }
      }
    }
  }
  &__projects {
    &--cards {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .card-container {
        min-width: 373px;
        max-width: 440px;
        justify-content: center;
        margin: 16px;
      }
      .card-block {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 326px;
        background-color: palette.$card-color;
        &--image {
          max-height: 70%;
        }
      }
      .card-description {
        &__heading {
          &--eyebrow {
            margin-top: 16px;
            font-size: 16px;
            font-weight: 600;
          }
          &--title {
            margin: 0;
            padding: 0;
            font-weight: 600;
            font-size: 38px;
            text-align: start;
            margin-bottom: 16px;
          }
        }
        &--text {
          margin-bottom: 18px;
        }
        &__button-box {
          display: flex;
          height: 42px;
          gap: 20px;
          justify-content: flex-start;

          &--button {
            @include buttons.button(black, rgba(0, 0, 0, 0));
            .inner-button {
              display: flex;
              align-items: center;
              justify-content: center;

              &--button-text {
                @include buttons.button-text();
              }
              &--angle-icon {
                height: 20px;
                width: 20px;
                display: flex;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
}

.footer-content {
  background-color: palette.$secondary-color;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center; //change to center if small screen
  &--email {
    color: palette.$primary-color;
  }
}
