/*----------------*/
/*----------------*/
/*----------------*/
/*----------------*/
* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 32px;
  padding: 16px 8px 16px 8px;
  margin: 16px;
  text-align: center;
}

p {
  font-size: 18px;
}

/*--------*/
/*--------*/
.page-hero {
  padding: 16px 8px 16px 8px;
  margin: 16px;
  display: flex;
  flex-direction: column;
}
.page-hero--heading {
  font-weight: 600;
  width: 326px;
  align-items: center;
  padding: 16px 8px 16px 8px;
  margin: 16px;
  display: flex;
  flex-direction: column;
}
.page-hero--hello-message {
  padding: 16px 8px 16px 8px;
  margin: 16px;
  font-size: 20px;
}

.main-container {
  padding: 16px 8px 16px 8px;
  margin: 16px;
  display: flex;
  flex-direction: column;
}
.main-container__about-me {
  padding: 16px 8px 16px 8px;
  margin: 16px;
  display: flex;
  flex-direction: column;
}
.main-container__about-me--biography {
  line-height: 1.8;
}
.main-container__technical-skills {
  padding: 16px 8px 16px 8px;
  margin: 16px;
  display: flex;
  flex-direction: column;
}
.main-container__technical-skills--skills-text {
  padding: 16px 8px 16px 8px;
  margin: 16px;
  text-align: center;
  line-height: 1.6;
  font-size: 16px;
}
.main-container__technical-skills--icon-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-container__technical-skills--icon-gallery .icon-box {
  margin: 16px 0;
  width: 67px;
  height: 112px;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  justify-content: center;
  align-items: center;
}
.main-container__technical-skills--icon-gallery .icon-box--icon-label {
  text-align: center;
}
.main-container__projects--cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main-container__projects--cards .card-container {
  min-width: 373px;
  max-width: 440px;
  justify-content: center;
  margin: 16px;
}
.main-container__projects--cards .card-block {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 326px;
  background-color: #e3f6f5;
}
.main-container__projects--cards .card-block--image {
  max-height: 70%;
}
.main-container__projects--cards .card-description__heading--eyebrow {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 600;
}
.main-container__projects--cards .card-description__heading--title {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 38px;
  text-align: start;
  margin-bottom: 16px;
}
.main-container__projects--cards .card-description--text {
  margin-bottom: 18px;
}
.main-container__projects--cards .card-description__button-box {
  display: flex;
  height: 42px;
  gap: 20px;
  justify-content: flex-start;
}
.main-container__projects--cards .card-description__button-box--button {
  border-radius: 7px;
  border: solid 1px black;
  background-color: rgba(0, 0, 0, 0);
  width: 113px;
  display: inline-flex;
  padding: 16px 8px 16px 8px;
  margin: 16px;
  justify-content: space-evenly;
  align-items: center;
}
.main-container__projects--cards .card-description__button-box--button .inner-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container__projects--cards .card-description__button-box--button .inner-button--button-text {
  font-weight: 700;
  font-size: 16px;
}
.main-container__projects--cards .card-description__button-box--button .inner-button--angle-icon {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
}

.footer-content {
  background-color: black;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-content--email {
  color: white;
}
