// main colours
// $primary-color: white;
// $secondary-color: black;
$primary-color: #d1ffff;
$secondary-color: #212121;

$tertiary-color: #ffe7d9;
$highlight-color-1: #2efa8e;
$highlight-color-Op: #2efa8d8a;
$highlight-color-2: #c0980b;

$brown: #55401b;

$alt-link: #b0457b;

$card-color: #e3f6f5;
$card-text: #b999ad;
